
.pageHeader{
    height: fit-content;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.pageTitle{
    font-size: 80px;
    text-align: center;
    color: white;
    font-family: Smooch Sans;
}